<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itxzxy.dao.StudentMapper">


    <select id="findById" parameterType="long" resultType="com.itxzxy.pojo.Student">
        SELECT * FROM students WHERE id = #{id}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultType="com.itxzxy.pojo.Student">
        SELECT * FROM students WHERE name LIKE '%${value}%'
    </select>

    <select id="findByNum" parameterType="java.lang.String" resultType="com.itxzxy.pojo.Student">
        SELECT * FROM students WHERE num LIKE '%${value}%'
    </select>

    <insert id="insertStudent" parameterType="com.itxzxy.pojo.Student">
        INSERT INTO students(name,qq,type,admission_time,school,num,daily,declaration,elder,knew_from,create_at,update_at) VALUE
        (#{name},#{qq},#{type},#{admissionTime},#{school},#{num},#{daily},#{declaration},#{elder},#{knewFrom},#{createAt},#{updateAt})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>
    </insert>

    <delete id="deleteStudent" parameterType="java.lang.Long">
        DELETE FROM students WHERE id = #{id}
    </delete>

    <update id="updateStudent" parameterType="com.itxzxy.pojo.Student">
        UPDATE students SET name=#{name},declaration=#{declaration} WHERE id=#{id}
    </update>

    <update id="truncateTable">
        truncate table students
    </update>


</mapper>