<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itxzxy.dao.StudentMapper">
    <!-- resultMap 数据结果集映射map，主要作用就是将数据库中的字段跟需要映射的model的属性一一对应，
    这样即使model中的属性跟数据库中的字段不一样，也能映射成功
    id  这个resultMap的唯一表示，
    type 需要映射的model信息-->
    <resultMap id="BaseResultMap" type="com.itxzxy.pojo.Student" >
        <!-- column:库表的字段名 property:实体类里的属性名 -->
        <id column="stuid" property="id" />
        <result column="name" property="name" />
        <result column="QQ" property="qq" />
        <result column="type" property="type" />
        <result column="admission_time" property="admissionTime" />
        <result column="school" property="school" />
        <result column="num" property="num" />
        <result column="daily" property="daily" />
        <result column="declaration" property="declaration" />
        <result column="elder" property="elder" />
        <result column="knew_from" property="knewFrom" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <select id="findById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM students WHERE stuid = #{id}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultType="com.itxzxy.pojo.Student">
        SELECT * FROM students WHERE name LIKE '%${value}%'
    </select>

    <select id="findByNum" parameterType="java.lang.String" resultType="com.itxzxy.pojo.Student">
        SELECT * FROM students WHERE num LIKE '%${value}%'
    </select>

    <insert id="insertStudent" parameterType="com.itxzxy.pojo.Student">
        INSERT INTO students(name,qq,type,admission_time,school,num,daily,declaration,elder,knew_from) VALUE
        (#{name},#{qq},#{type},#{admissionTime},#{school},#{num},#{daily},#{declaration},#{elder},#{knewFrom})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>
    </insert>

    <delete id="deleteStudent" parameterType="java.lang.Long">
        DELETE FROM students WHERE stuid = #{id}
    </delete>

    <update id="updateStudent" parameterType="com.itxzxy.pojo.Student">
        UPDATE students

        <set><!--set标签会去除只有最后一个条件的,-->
            <if test="updateAt!=null and updateAt!=''">
                update_at=#{updateAt},
                <if test="name!= null and name!=''">name = #{name},</if>
                <if test="QQ!= null and QQ!=''">QQ = #{QQ},</if>
                <if test="type!= null and type!=''">type = #{type},</if>
                <if test="admissionTime!= null and admissionTime!=''">admission_time = #{admissionTime},</if>
                <if test="school!= null and school!=''">school = #{school},</if>
                <if test="num!= null and num!=''">num = #{num},</if>
                <if test="daily!= null and daily!=''">daily = #{daily},</if>
                <if test="declaration!= null and declaration!=''">declaration = #{declaration},</if>
                <if test="elder!= null and elder!=''">elder = #{elder},</if>
                <if test="knewFrom!= null and knewFrom!=''">knew_from = #{knewFrom},</if>
            </if>
        </set>

        <where><!--where标签会去除第一个条件的and和or-->
            <if test="id!=null">AND stuid=#{id}</if>
        </where>
    </update>

    <update id="truncateTable">
        truncate table students
    </update>


</mapper>